@import url(http://weloveiconfonts.com/api/?family=fontawesome);
h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.main_h i{
  font-size: 1.7em;
  color:rgb(15,113,195);
}

.jobTitle{
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 1.7em;
    font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.intro_content{
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
}

.expTitle{
  margin-bottom: 40px;
  font-size: 1.8em;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.expSubhead{
    font-size: 1.35em;
    color:rgb(15,113,195);
    font-weight: 600 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.expTime{
    font-size: 1.35em;
    font-family: 'Source Sans Pro', sans-serif;
}

.expName{
    font-size: 1.15em;
    font-weight: 500 !important;
    margin-bottom: .6em;

}

.expContent{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: .3em;
}

.expContent i{
  font-size: .7em;
  margin-right: 4px;
}

div.exp_section{
    margin-top: 35px !important;
}

hr{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

a{
  color:rgb(15,113,195) !important;
  font-weight: 600;
}

.row {
  width: 100%;
  margin: 0 auto !important;
  position: relative;
  padding: 0 2% !important;
}

.flex-item{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.graphic-title{
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.graphic-skill{
  margin-top: -10px;
}

.gif_group_2,.gif_group_3,.gif_group_4,.gif_group_5,.gif_group_6,.gif_group_7{
  margin-top: 15px;
}

.coding_tag,.static_tag,.video_tag{
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.coding_tag{
   background-color:rgb(229,0,40);
  }

.static_tag{
  background-color:rgb(24,144,237);
}

.video_tag{
  background-color:rgb(254,197,54);
}

p.type{
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}

.gif_group_1{
  margin-top: 50px;
}

.gif_group_7{
  margin-bottom: 50px;
}

#social{
list-style: none;
margin-top: 110px;
}

.fa{
  color:rgb(81,81,81);
}

#social li{
display: inline-block;
padding-right: 40px;
}

div.myself{
  margin-top: 150px;
}

.myself img{
  border-radius: 50%;
}

.btn{
  margin-top: 15px;
  padding: .155rem .45rem !important;
  text-transform:uppercase;
  font-family: 'Source Sans Pro', sans-serif !important;
  color:white;
  font-weight: 600 !important;
}


div.button_group{
  margin-top: 100px;
  margin-bottom: 15px;

}

button.button-1,button.button-2{
  background-color:#989898;
  margin-right: 26px;
}


button.button-3{
  background-color:#989898;
}

div.bottom{
  height: 40px;
  width: 100%;
  margin-top: 100px;
}

.separator {
    border: 1px dotted #c4c4c4;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
