@import url(https://fonts.googleapis.com/css?family=Dosis:400,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body{
  color: black;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin-left: 0px;
  line-height: 1.8em;
  word-spacing: 0.2em;
}

  #foot_contact {
   margin-left: 120px;
   margin-top: 80px;
  }

  #foot_contact li{
    display: inline-block;
    margin-right: 20px;
}

a {
    color: rgb(233, 42, 58);
    text-decoration: none;
}
 a:hover {
  color:rgba(252,	131, 137, 0.5);
 }

#video_contact ul{
  margin-left: 20px;
}

 nav {
   padding-left: 28em;
   font-size:14px;
   font-style: normal;
 }

 nav ul {
   display: inline;
   padding: 0;
   text-transform: uppercase;
   margin-left: 100px;
 }

 nav ul li {
   display: inline;
   font-weight: bold;
   padding-right: 4em;
   margin-right: 3em;
   letter-spacing: 0.08em;
 }


.filtr-item {
    padding: 1rem;

}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
#navH{
    margin-left: 150px;
    margin-top: 100px;
}


.simplefilter li {
    color: black;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-right: 100px;
    border-style: solid;
    border-color: rgba(233, 42, 58,0.7);
    border-left: 5px;
    border-right: 5px;
    border-width: 1px;
    margin-top: 10px;
}

/*.simplefilter li {
    background-color:  rgba(125, 125, 125,0.7);
}*/
.simplefilter li.active {
    background-color: rgba(233, 42, 58,0.7);
}

.item-hover.circle .img {
  margin-left: 10px;
  margin-top: 10px;
  width:250px;
  height:250px;
}

.info {
  margin-left: 10px;
  margin-top: 10px;
  width:250px;
  height:250px;
}

#navTitle {
  display: inline-block;
  margin-top: 55px;
  margin-left: -85px;
}

#navTitle li {
  display: inline-block;
  margin-right: 10px;
}

.filtr-container {
  margin-left: 50px;
}
/*.filtr-container img {
   border-radius: 50%;
   width:250px;
   height:250px;
}*/


a:link {
   text-decoration: none;
}


 /*img {
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}


.filtr-container img:hover {
  border:1.3px solid pink;
  opacity: 0.4;
  transition: opacity 0.5s ease-in;
}*/


/*
  .overlay{
   width: 270px;
   height:270px;
  padding-left: 100
  position: relative;
   opacity: 0;
 }*/

/*.image-list li {
   list-style-type: none;
   display: inline-block;

 }*/

 /*ul.img-list li .caption {
background: rgba(0,0,0,0.5);
cursor: pointer;
position: absolute;
width: 250px;
height: 250px;
border-radius: 50%;
text-align: center;
font-size: 18px;
opacity: 0;
-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
 }

 ul.img-list li:hover .caption {
  opacity: 1;
}

*/

/*.caption{
  text-transform: uppercase;
  width: 200px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}*/


/*.caption1,.caption3,.caption4{
  bottom: 30px;
  left:10px;
}

.caption2,.caption5,.caption6{
  bottom: 10px;
  left:10px;
}*/
/*
.filtr-container p:hover {
  transition: bottom 0.5s ease-in;
}*/
